body {
	max-width: 100vw;
	margin: auto;
}

/*responsive settings*/
@media all and (min-width: 1500px) {
}
@media all and (max-width: 1499px) and (min-width: 600px) {
}
@media all and (max-width: 800px) and (min-width: 50px) {
	h1 {
		font-size: 25px !important;
	}
	h2 {
		font-size: 17px !important;
	}
	h3 {
		font-size: 16px !important;
	}
	#small-logo-slice.unica {
		font-size: 17px !important;
	}
	#small-logo-slice.inconsolata {
		font-size: 20px !important;
	}
	#bigBox-title.unica {
		font-size: 12vw !important;
	}
	#bigBox-title.inconsolata{
		font-size: 10vw;
	}
	.bigBox {
		width: 90vw !important;
		margin-bottom: 10px !important;
	}
	.regularBox {
		width: 85vw !important;
		margin-bottom: 10px !important;
	}
	.listBox {
		width: 90vw !important;
		margin-bottom: 10px !important;
	}
	#box-band {
		padding: 15px 0px 15px 0px !important;
	}
	.pics-slice {
		flex-direction: column !important;
	}
	.pic-slice {
		max-width: 100% !important;
	}
	.pictoBox {
		width: 70px !important;
		margin: 0px 7px 0px 7px !important;
	}
	.picto-slice {
	}
	.regularBox-vslice {
		width: unset !important;
		margin-bottom: 15px !important;
	}
	.regularBox-hslice {
		flex-wrap: wrap !important;
	}
	.half-slice {
		width: unset !important;
	}
}

/*Default elements setting*/
img {
	margin: auto;
	width: -moz-available;
}
h1 {
	margin: unset;
}
h2 {
	font-size: 25px;
	letter-spacing: 1.7px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	margin: unset;
}
h3 {
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
	margin: unset;
}
h4 {
	margin: unset;
}
p{
	margin: unset;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
img.small{
	border-radius: 50%;
}

/* level-0 parents */
#container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 100vw;
	margin: auto;
}
#container.mint, body {
	background-color: #54dfc0 !important;
	color: black;
}
#container.lemon, body {
	background-color: #fee24c;
	color: black;
}
#container.raspberry, body {
	background-color: #e8546d;
	color: white;
}
#container.green, body {
	background-color: #7bce5d;
	color: black;
}
#container.night, body {
	background-color: #4137c5;
	color: white;
}
#container.violet, body {
	background-color: #a24dff;
	color: white;
}

#nav-bar {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	/*height: 45px;*/
	margin: auto;
	position: fixed;
	background-color: black;
}
#nav-bar.dark, svg {
	background-color: black;
	color: white;
	fill: white;
}
#nav-bar.bright, svg {
	background-color: white;
	color: black;
	fill: black;
}
/* buttons */
#button-ddwn {
		cursor: pointer;
		flex-basis: 1;
		background-color: unset;
		border: none;
		padding: 10px 10px 10px 10px;
}
#button-ddwn:active .dropdown-content {
	visibility: visible;
}
#button-ddwn:hover {
	background-color: white;
	color: black;
}
/*.dropdown {
    position: relative;
    display: inline-block;
}
*/
.dropdown-content {
    display: none;
    position: absolute;
		background-color: var(--grey1);
    min-width: 160px;
    overflow: auto;
		visibility: hidden;
}
#ddwn-button {
	background-color: white;
	color:black;
}
#ddwn-button:hover {
	background-color: orange;
}
/*
.dropdown-content button {
		color: var(--white);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown button:hover {
}
*/

/* level-1 chlidren */
.bigBox {
	width: 80vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	margin-bottom: 45px;
}
.regularBox {
	width: 70vw;
	font-family: monospace;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-style: solid;
	border-width: 2px;
	border-color: black;
/*	padding: 25px 25px 25px 25px;*/
	margin: 15px 0px 45px 0px;
}
.listBox {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	width: 80vw;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	margin-bottom: 45px;
}
/*special box*/
.pictoBox {
	width: 90px;
	margin: 0px 15px 0px 15px
}
.imgBox {
	width: 100px;
}

/* level-2 childrens */
#small-logo-slice {
	display: flex;
	flex-wrap: nowrap;
	text-align: left;
	margin-left: 10px;
}
#small-logo-slice.unica {
	font-family: 'Unica One', cursive;
	font-size: 25px;}
#small-logo-slice.inconsolata {
	font-family: 'Inconsolata', cursive;
	font-weight: 700;
	font-size: 25px;
}
	/* parallel settings
	font-family: 'Patrick Hand', cursive;
	font-size: 130px;
	text-transform: uppercase;
	letter-spacing: 5.5px;*/
	/*font-family: 'Squada One', cursive;
	font-size: 130px;
	text-transform: uppercase;
	letter-spacing: 5.5px;*/
	/*font-family: 'Oleo Script', cursive;
	font-size: 130px;
	letter-spacing: 3px;*/
	/*font-family: 'Londrina Solid', cursive;
	font-size: 130px;
	letter-spacing: 3px;*/
	/*font-family: 'Graduate', cursive;
	font-size: 105px;
	text-transform: uppercase;*/
	/*font-family: 'Bungee Shade', cursive;
	font-size: 85px;
	letter-spacing: -3.9px;
	font-family: 'Bungee Inline', cursive;
	font-size: 17px;
	font-family: 'Averia Serif Libre', cursive;
	font-size: 105px;
	text-transform: uppercase;*/

/* There is no class for bigBox-title, no need */
#bigBox-title {
	display: flex;
	justify-content: center;
	padding: 15px 20px 15px 20px;
	width: 100%;
	text-align: center;
}
#bigBox-title.unica {
	font-family: 'Unica One', cursive;
	font-size: 11vw;
}
#bigBox-title.inconsolata {
	font-family: 'inconsolata', cursive;
	font-size: 9vw;
	letter-spacing: 5.5px;
	font-weight: 700;
	letter-spacing: 1.5px;
}
	/*font-family: 'Patrick Hand', cursive;
	font-size: 130px;
	text-transform: uppercase;
	letter-spacing: 5.5px;*/
	/*font-family: 'Squada One', cursive;
	font-size: 130px;
	text-transform: uppercase;
	letter-spacing: 5.5px;*/
	/*font-family: 'Oleo Script', cursive;
	font-size: 130px;
	letter-spacing: 3px;*/
	/*font-family: 'Londrina Solid', cursive;
	font-size: 130px;
	letter-spacing: 3px;*/
	/*font-family: 'Graduate', cursive;
	font-size: 105px;
	text-transform: uppercase;*/
	/*font-family: 'Bungee Shade', cursive;
	font-size: 85px;
	letter-spacing: -3.9px;
	font-family: 'Bungee Inline', cursive;
	font-size: 105px;
	letter-spacing: -3.9px;
	/*font-family: 'Averia Serif Libre', cursive;
	font-size: 105px;
	text-transform: uppercase;*/

.bigBox-subtitle {
	width: 100%;
	margin: auto;
	padding: 10px 0px 10px 0px;
	text-align: center;
	background-color: black;
}

.pics-slice {
	display: flex;
	flex-direction: row;
	width: 100%;
	background-color: black;
}
.pic-slice{
	max-width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.half-slice {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px 20px 0px 20px;
}
.regularBox-hslice {
	width: 100%;
	display: flex;
	justify-content: center;
}
.regularBox-vslice {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
}
.picto-slice{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%;
	margin: 40px 0px 15px 0px;
	justify-content: center !important;
}
.caption-slice{
	text-align: center;
	/*margin-top: 25px;*/
}
.medium-logo-slice {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
	width: auto;
	background-color: rgba(255, 255, 255, 0.3);
	margin: 15px 15px 15px 15px;
	padding: 15px 15px 15px 15px;
}
.profil-slice {
	display: flex;
	flex-direction: row;
	width: 300px;
	padding: 20px 20px 20px 20px;
}
.half-vslice {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 20px 20px 20px 20px;
}
.ftext-slice {
	margin: 15px 15px 15px 15px;
}


#box-band {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	text-align: center;
	padding: 15px 0px 15px 0px;
	margin: auto;
	/*background: repeating-linear-gradient(
    50deg,
    rgba(0 ,0, 0, 0),
    rgba(0 ,0, 0, 0) 2px,
    rgba(0 ,0, 0, 0.1) 2px,
    rgba(0 ,0, 0, 0.1) 10px
  );*/
}
#box-band.averia{
	font-family: 'Averia Serif Libre', cursive;
}
#box-band.bungee{
	font-family: 'Bungee Shade', cursive;
}
#box-band.graduate{
	font-family: 'Graduate', cursive;
}
#box-band.londrina{
	font-family: 'Londrina Solid', cursive;
}
#box-band.oleo{
  font-family: 'Oleo Script', cursive;
}
#box-band.patrick{
  font-family: 'Patrick Hand', cursive;
}
#box-band.squada{
	font-family: 'Squada One', cursive;
}
#box-band.unica{
	font-family: 'Unica One', cursive;
	font-size: 20px;
}
#box-band.inconsolata{
	font-family: 'inconsolata', cursive;
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 1.5px;
}
.button-nav, .button-nav-bl {
	display:flex;
	align-items:center;
	padding: 0px 10px 0px 10px;
	height:45px;
	border-style: dotted;
	border-width: 2px;
	border-color: rgba(0, 0, 0, 0);
}
.button-nav-bl:hover {
	display:flex;
	align-items:center;
	padding: 0px 10px 0px 10px;
	height:45px;
	border-style: dotted;
	border-width: 2px;
	border-color: black;
}
.button-nav:hover{/*
	box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;*/
	border-style: dotted;
	border-width: 2px;
	border-color: white;
}
a {
	text-decoration: none;
	color: unset;
}
/*a :hover{
	background-color: grey;
}*/
#button-b {
	text-align: center;
	padding: 15px 15px 15px 15px;
	margin: auto;
	margin-bottom: 28px;
	background: repeating-linear-gradient(
		50deg,
		rgba(0 ,0, 0, 0),
		rgba(0 ,0, 0, 0) 2px,
		rgba(0 ,0, 0, 0.1) 2px,
		rgba(0 ,0, 0, 0.1) 10px
	);
	border-style: dotted;
	border-width: 2px;
	border-color: rgba(0, 0, 0, 0);
}
#button-b:hover {
	border-style: dotted;
	border-width: 2px;
	border-color: black;
}
#button-w {
	text-align: center;
	padding: 15px 15px 15px 15px;
	margin: auto;
	margin-bottom: 28px;
	background: repeating-linear-gradient(
		50deg,
		rgba(255 ,255, 255, 0),
		rgba(0 ,0, 0, 0) 2px,
		rgba(255 ,255, 255, 0.1) 2px,
		rgba(255 ,255, 255, 0.1) 10px
	);
	border-style: dotted;
	border-width: 2px;
	border-color: rgba(0, 0, 0, 0);
}
button{
	border: unset;
}
#button-w:hover {
	border-style: dotted;
	border-width: 2px;
	border-color: white;
}
#button-b.unica{
	font-family: 'Unica One', cursive;
	font-size: 20px;
}
#button-w.inconsolata{
	font-family: 'Inconsolata', cursive;
	font-size: 25px;
	letter-spacing: 1.7px;
}
.transition{
	height:50px;
	background-color: black;
}
