/* level-1 chlidren */
/*responsive settings*/
@media all and (min-width: 1500px) {
	#regularBox {
		width: 55vw !important;
	}
	#listBox {
		width: 60vw !important;
	}
}
@media all and (max-width: 1499px) and (min-width: 600px) {

}
@media all and (max-width: 800px) and (min-width: 50px) {
	#regularBox {
		width: 85vw !important;
		margin-bottom: 10px !important;
		padding: unset !important;
	}
	#listBox {
		width: 90vw !important;
		margin-bottom: 10px !important;
		padding: unset !important;
	}
}

#regularBox {
	width: 70vw;
	font-family: monospace;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-style: solid;
	border-width: 2px;
	padding: 20px 20px 20px 20px;
	margin: 15px 0px 45px 0px;
}
#regularBox.lemon .mint .green {
	border-color: white;
}
#regularBox.raspberry .night .violet {
	border-color: black;
}
#listBox {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	width: 80vw;
	border-style: solid;
	border-width: 2px;
	margin-bottom: 45px;
}
#listBox.lemon .mint .green {
	border-color: white;
}
#listBox.raspberry .night .violet {
	border-color: black;
}
/*special box*/
.pictoBox {
	width: 90px;
	margin: 0px 15px 0px 15px
}
.imgBox {
	width: 100px;
}
