/* level-1 chlidren */
/*responsive settings*/
@media all and (min-width: 1500px) {
	#regularBox {
		width: 55vw !important;
	}
	#listBox {
		width: 60vw !important;
	}
}
@media all and (max-width: 1499px) and (min-width: 600px) {

}
@media all and (max-width: 800px) and (min-width: 50px) {
	#regularBox {
		width: 85vw !important;
		margin-bottom: 10px !important;
		padding: unset !important;
	}
	#listBox {
		width: 90vw !important;
		margin-bottom: 10px !important;
		padding: unset !important;
	}
}

#regularBox {
	width: 70vw;
	font-family: monospace;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-style: solid;
	border-width: 2px;
	padding: 20px 20px 20px 20px;
	margin: 15px 0px 45px 0px;
}
.programBox {
	width: 70vw;
	display: flex;
	margin: 15px 0px 45px 0px;
	position: relative;
}
#regularBox.lemon, #regularBox.mint, #regularBox.green,
#listBox.lemon, #listBox.mint, #listBox.green {
	border-color: rgba(255, 255, 255, 0.7);
	box-shadow: 0 0 3px rgba(255, 255, 255, 0.7);
}
#regularBox.raspberry, #regularBox.night, #regularBox.violet,
#listBox.raspberry, #listBox.night, #listBox.violet {
	border-color: rgba(0, 0, 0, 0.7);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
}
#listBox {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	width: 90vw;
	border-style: solid;
	border-width: 2px;
	margin-bottom: 45px;
}

/*special box*/
.pictoBox {
	width: 90px;
	margin: 0px 15px 0px 15px
}
.imgBox {
	width: 100px;
}
