/* buttons */
button{
	border: unset;
}
#button.lemon, #button.raspberry, #button.violet {
	text-align: center;
	padding: 15px 15px 15px 15px;
	margin: auto;
	margin-bottom: 28px;
	background: repeating-linear-gradient(
		50deg,
		rgba(0 ,0, 0, 0),
		rgba(0 ,0, 0, 0) 2px,
		rgba(0 ,0, 0, 0.1) 2px,
		rgba(0 ,0, 0, 0.1) 10px
	);
	border-style: dotted;
	border-width: 2px;
	border-color: rgba(0, 0, 0, 0);
	color: black;
}
#button.raspberry:hover, #button.lemon:hover, #button.violet:hover {
	border-style: dotted;
	border-width: 2px;
	border-color: black;
}
#button.night, #button.mint, #button.green {
	text-align: center;
	padding: 15px 15px 15px 15px;
	margin: auto;
	margin-bottom: 28px;
	background: repeating-linear-gradient(
		50deg,
		rgba(255 ,255, 255, 0),
		rgba(0 ,0, 0, 0) 2px,
		rgba(255 ,255, 255, 0.1) 2px,
		rgba(255 ,255, 255, 0.1) 10px
	);
	border-style: dotted;
	border-width: 2px;
	border-color: rgba(0, 0, 0, 0);
	color: white;
}
#button.night:hover, #button.mint:hover, #button.green:hover {
	border-style: dotted;
	border-width: 2px;
	border-color: white;
}
.unica{
	font-family: 'Unica One', cursive;
	font-size: 20px;
}
.inconsolata{
	font-family: 'Inconsolata', cursive;
	font-size: 25px;
	letter-spacing: 1.7px;
}
.playfair{
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	font-size: 21px;
	letter-spacing: 2.2px;
	line-height: 120px,
}
.graduate{
	font-family: 'Graduate', cursive;
	font-size: 23px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.francois{
	font-family: 'Francois One', sans-serif;
	font-size: 23px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.squada{
	font-family: 'Squada One', cursive;
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}
.oleo{
	font-family: 'Oleo Script', cursive;
	font-size: 25px;
	letter-spacing: 2px;
	font-weight: 400;
}
.bungee{
	font-family: 'Bungee Inline', cursive;
	font-size: 24px;
	letter-spacing: 1.3px;
}
.oswald{
	font-family: 'Oswald', sans-serif;
	font-size: 25px;
}

/*FOO*/
#button-ddwn {
		cursor: pointer;
		flex-basis: 1;
		background-color: unset;
		border: none;
		padding: 10px 10px 10px 10px;
}
#button-ddwn:active .dropdown-content {
	visibility: visible;
}
#button-ddwn:hover {
	background-color: white;
	color: black;
}
/*.dropdown {
    position: relative;
    display: inline-block;
}
*/
.dropdown-content {
    display: none;
    position: absolute;
		background-color: var(--grey1);
    min-width: 160px;
    overflow: auto;
		visibility: hidden;
}
#ddwn-button {
	background-color: white;
	color:black;
}
#ddwn-button:hover {
	background-color: orange;
}
/*
.dropdown-content button {
		color: var(--white);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown button:hover {
}
*/
