/* level-2 childrens */

/*responsive settings*/
@media all and (min-width: 1500px) {

}
@media all and (max-width: 1499px) and (min-width: 600px) {

}
@media all and (max-width: 800px) and (min-width: 50px) {
	#flyer {
		padding: 25px 0px !important;
		height: auto;
	}
	#box-band {
		padding: 15px 0px 15px 0px !important;
	}
	.pics-slice {
		flex-direction: column !important;
	}
	.pic-slice {
		max-width: 100% !important;
	}
	.pictoBox {
		width: 70px !important;
		margin: 0px 7px 0px 7px !important;
	}
	.regularBox-vslice {
		width: unset !important;
		margin-bottom: 15px !important;
	}
	.regularBox-hslice {
		flex-wrap: wrap !important;
	}
	.half-slice {
		width: unset !important;
	}
}

.pics-slice {
	display: flex;
	flex-direction: row;
	width: 100%;
	background-color: black;
}
.pic-slice{
	max-width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.programSlice {
	width: 25%;
	display: flex;
	flex-direction: column;
	border-style: solid;
	border-width: 2px;
	padding: 20px;
	margin: 0px 15px;
}
.half-slice {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px 20px 0px 20px;
}
.regularBox-hslice {
	width: 100%;
	display: flex;
	justify-content: center;
}
.regularBox-vslice {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
}
.picto-slice{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%;
	margin: 40px 0px 15px 0px;
	justify-content: center !important;
}
.caption-slice{
	text-align: center;
	/*margin-top: 25px;*/
}
.medium-logo-slice {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
	width: auto;
	background-color: rgba(255, 255, 255, 0.3);
	margin: 15px 15px 15px 15px;
	padding: 15px 15px 15px 15px;
}
.profil-slice {
	display: flex;
	flex-direction: row;
	width: 315px;
	padding: 20px 20px 20px 20px;
}
.half-vslice {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 20px 20px 20px 20px;
}
.ftext-slice {
	margin: 15px 15px 15px 15px;
}

#box-band {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	text-align: center;
	padding: 15px 0px 15px 0px;
	margin: auto;
	/*background: repeating-linear-gradient(
    50deg,
    rgba(0 ,0, 0, 0),
    rgba(0 ,0, 0, 0) 2px,
    rgba(0 ,0, 0, 0.1) 2px,
    rgba(0 ,0, 0, 0.1) 10px
  );*/
}
.day {
	height: 100% !important;
	width: 7% !important;
	position: absolute;
	top: -20px;
	left: -40px;
}
#box-band.unica{
	font-family: 'Unica One', cursive;
	font-size: 20px;
}
#box-band.inconsolata{
	font-family: 'inconsolata', cursive;
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 1.5px;
}
.day h1 {
	font-size: 24px;
}
#box-band.playfair{
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	font-size: 21px;
	letter-spacing: 2.2px;
}
#box-band.graduate{
	font-family: 'Graduate', cursive;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
#box-band.francois{
	font-family: 'Francois One', sans-serif;
	font-size: 21px;
	letter-spacing: 2px;
	text-transform: uppercase;
}
#box-band.squada{
	font-family: 'Squada One', cursive;
	font-size: 26px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}
#box-band.oleo{
	font-family: 'Merienda One', cursive;
	font-size: 25px;
	letter-spacing: 2px;
	font-weight: 400;
}
#box-band.bungee{
	font-family: 'Bungee Inline', cursive;
	font-size: 24px;
	letter-spacing: 1.3px;
}
#box-band.oswald{
	font-family: 'Oswald', sans-serif;
	font-size: 25px;
}
