/*responsive settings*/
@media all and (min-width: 1500px) {
	#bigBox {
		width: 60vw !important;
	}
	#bigBox-title.graduate {
		font-size: 6vw !important;
	}
	#bigBox-title.oleo {
		font-size: 8vw !important;
		line-height: 150px !important;
	}
	#bigBox-title.playfair {
		font-size: 7vw !important;
		line-height: 140px !important;
	}
	#bigBox-title.francois {
		font-size: 6.5vw !important;
		line-height: 130px !important;
	}
	#bigBox-title.unica {
		font-size: 8vw !important;
		line-height: 135px !important;
	}
	#bigBox-title.oswald {
		font-size: 8vw !important;
		line-height: 160px !important;
	}
	#bigBox-title.squada {
		font-size: 8vw !important;
		line-height: 125px !important;
	}
	#bigBox-title.bungee {
		font-size: 5.6vw !important;
	}
}
@media all and (max-width: 1100px) and (min-width: 550px) {
	#bigBox-title.playfair {
		font-size: 9.5vw !important;
		line-height: 90px !important;
		letter-spacing: 3px !important;
	}
	#bigBox-title.oswald {
		line-height: 90px !important;
	}
}
@media all and (max-width: 550px) and (min-width: 50px) {
	#flyer {
		padding: 25px 0px !important;
		height: auto;
	}
	#bigBox {
		width: 90vw !important;
	}
	.pics-slice {
		flex-direction: column !important;
	}
	.pic-slice {
		max-width: 100% !important;
	}
	#bigBox-title.unica {
		font-size: 12vw !important;
		line-height: 50px !important;
	}
	#bigBox-title.inconsolata{
		font-size: 10vw !important;
	}
	#bigBox-title.graduate {
		font-size: 8.5vw !important;
		line-height: 40px;
	}
	#bigBox-title.oleo {
		font-size: 8vw !important;
		line-height: 150px !important;
	}
	#bigBox-title.playfair {
		font-size: 9,5vw !important;
		line-height: 60px !important;
		letter-spacing: 3px !important;
	}
	#bigBox-title.francois {
		font-size: 9,5vw !important;
		line-height: 55px !important;
	}
	#bigBox-title.oswald {
		font-size: 11vw !important;
		line-height: 60px !important;
	}
	#bigBox-title.squada {
		font-size: 12,5vw !important;
		line-height: 45px !important;
	}
	#bigBox-title.bungee {
		font-size: 8vw !important;
	}
}

#flyer {
	height: 100vh;
	top: 0;
	left: 0;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#bigBox {
	width: 80vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-style: solid;
	border-width: 2px;
}
.pics-slice {
	display: flex;
	flex-direction: row;
	width: 100%;
	background-color: black;
}
.pic-slice{
	max-width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.pic-slice img {
	width: 100%;
}
#bigBox.raspberry, #bigBox.night, #bigBox.violet {
	border-color: black;
	box-shadow: 0 0 3px black;
	color: white;
}
#bigBox.lemon, #bigBox.mint, #bigBox.green {
	border-color: white;
	box-shadow: 0 0 3px white;
	color: black;
}
/* There is no class for bigBox-title, no need */
#bigBox-title {
	display: flex;
	justify-content: center;
	padding: 15px 20px 0px 20px;
	width: 100%;
	text-align: center;
}
#bigBox-title.unica {
	font-family: 'Unica One', cursive;
	font-size: 11vw;
	line-height: 120px;
}
#bigBox-title.inconsolata {
	font-family: 'inconsolata', cursive;
	font-size: 9vw;
	font-weight: 700;
	letter-spacing: 1.5px;
}
#bigBox-title.playfair {
	font-family: 'Playfair Display', serif;
	font-size: 9vw;
	font-weight: 900;
	letter-spacing: 4px;
	line-height: 125px;
}
#bigBox-title.graduate {
	font-family: 'Graduate', cursive;
	font-size: 7.5vw;
	text-transform: uppercase;
}
#bigBox-title.francois {
	font-family: 'Francois One', sans-serif;
	font-size: 9vw;
	font-weight: 700;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	line-height: 120px;
}
#bigBox-title.squada {
	font-family: 'Squada One', cursive;
	font-size: 10vw;
	line-height: 115px;
	text-transform: uppercase;
	letter-spacing: 5.5px;
}
@import url('https://fonts.googleapis.com/css?family=Courgette|Merienda+One|Norican|Sofia');
#bigBox-title.oleo {
	font-family: 'Merienda One', cursive;
	font-size: 8.5vw;
	letter-spacing: 3px;
	line-height: 130px;
	font-weight: 400;
}
#bigBox-title.bungee {
	font-family: 'Bungee Inline', cursive;
	font-size: 7.6vw;
	letter-spacing: -0.9px;
}
#bigBox-title.oswald {
	font-family: 'Oswald', sans-serif;
	font-size: 9vw;
	font-weight: 700;
	letter-spacing: 1.5px;
	line-height: 135px;
}
#bigBox-subtitle {
	width: 100%;
	margin: auto;
	padding: 10px 0px 10px 0px;
	text-align: center;
}
#bigBox-subtitle.raspberry, #bigBox-subtitle.night, #bigBox-subtitle.violet {
	background-color: black;
	color: white;
}
#bigBox-subtitle.lemon, #bigBox-subtitle.mint, #bigBox-subtitle.green {
	background-color: white;
	color: black;
}
