#bigBox {
	width: 80vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-style: solid;
	border-width: 2px;
	margin-bottom: 45px;
}
#bigBox.raspberry .night .violet {
	border-color: black;
	color: black;
}
#bigBox.lemon .mint .green {
	border-color: white;
	color: white;
}
/* There is no class for bigBox-title, no need */
#bigBox-title {
	display: flex;
	justify-content: center;
	padding: 15px 20px 0px 20px;
	width: 100%;
	text-align: center;
}
#bigBox-title.unica {
	font-family: 'Unica One', cursive;
	font-size: 11vw;
	line-height: 120px;
}
#bigBox-title.inconsolata {
	font-family: 'inconsolata', cursive;
	font-size: 9vw;
	font-weight: 700;
	letter-spacing: 1.5px;
}
#bigBox-title.playfair {
	font-family: 'Playfair Display', serif;
	font-size: 9vw;
	font-weight: 900;
	letter-spacing: 4px;
	line-height: 125px;
}
#bigBox-title.graduate {
	font-family: 'Graduate', cursive;
	font-size: 105px;
	text-transform: uppercase;
}
#bigBox-title.francois {
	font-family: 'Francois One', sans-serif;
	font-size: 9vw;
	font-weight: 700;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	line-height: 120px;
}
#bigBox-title.squada {
	font-family: 'Squada One', cursive;
	font-size: 130px;
	text-transform: uppercase;
	letter-spacing: 5.5px;
}
#bigBox-title.oleo {
	font-family: 'Oleo Script', cursive;
	font-size: 8vw;
	letter-spacing: 3px;
	line-height: 115px;
	font-weight: 400;
}
#bigBox-title.bungee {
	font-family: 'Bungee Inline', cursive;
	font-size: 95px;
	letter-spacing: -0.9px;
}
#bigBox-title.oswald {
	font-family: 'Oswald', sans-serif;
	font-size: 9vw;
	font-weight: 700;
	letter-spacing: 1.5px;
	line-height: 135px;
}
#bigBox-subtitle {
	width: 100%;
	margin: auto;
	padding: 10px 0px 10px 0px;
	text-align: center;
}
#bigBox-subtitle.raspberry, #bigBox-subtitle.night, #bigBox-subtitle.violet {
	background-color: black;
	color: white;
}
#bigBox-subtitle.lemon, #bigBox-subtitle.mint, #bigBox-subtitle.green {
	background-color: white;
	color: black;
}
